.DS_Store
node_modules
/dist
/coverage

/tests/e2e/videos/
/tests/e2e/screenshots/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
.eslintcache
/cmake-build-debug
/cmake-build-debug/
/cmake-build-debug/base/
/cmake-build-debug/CMakeFiles/
/cmake-build-debug/DataStructure01/
/cmake-build-debug/list/
/cmake-build-debug/Testing/
/cmake-build-debug/*
/cmake-build-debug/base/*
/cmake-build-debug/CMakeFiles/*
/cmake-build-debug/DataStructure01/*
/cmake-build-debug/list/*
/cmake-build-debug/Testing/*

/cmake-build-debug/
